# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
Luis Angel Guillen Cebrero

Objetives:
- List popular languages for Data Science
- List common languages for Data Sciencie
- Use notebooks to do arihthmetics expressions.

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. TensorFlow

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-learn

Data Science Tools

Spyder
Google Colab
Jupyter Notebook

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335